.page-container{
	min-width: 960px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.inner-wrap{
	margin:0 auto;
    max-width: none;
    overflow: hidden;
}
.bread-crumbs{
	padding: 15px 0;
}
.signin-page-wrap{
    margin-bottom: 40px;
}
.signin{
	padding-left: 160px;
	border:none;
	width:800px;
	margin:50px auto 0;
}
.sign-title{
    border: none;
    padding-left: 150px;
    height: 60px;
    line-height: 60px;
    color: #8d6a54;
    background: url(../img/userbg.jpg) no-repeat 100px 4px;
    margin-bottom: 10px;
}
.sign-title h2{
	color: #8d6a54;
    font: 400 24px/44px 'Microsoft Yahei';
}
/*登陆*/
.form-item3{
	height: 30px;
	padding-top: 10px;
}
.form-item3 a{
	color:#70A4C1;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 310px;
}
.form-item{
	height:auto;
	padding: 0;
	margin:0;
	overflow: hidden;
}
.form-act{
	position: relative;
	margin-left: 0;
}
.input-top{
	border-radius: 4px 4px 0 0;	
}
.x-input{
	width:375px;
	padding: 16px 0 16px 20px;
	color:#8d6a54;
	height:18px;
	line-height: 18px;
	outline: none;
	position: relative;
	border:solid 1px #eee;
	font-size: 13px;
}
input::-webkit-input-placeholder {
    color:    #8d6a54;
    opacity: .4;
    
}
.input-center{
	border-radius: 0;
	border-top: solid 1px #fff;
}
.form-inner-mm{
	padding-right: 276px;
}
.signupin-content .x-check, .signupin-content .x-select {
    height: 32px;
}
.form-inner-mn a {
    color: #70A4C1;
    padding-left: 65px;
    margin-left: -5px;
    padding-left: 0;
}
.form-item-normal{
	margin-top: 10px;
	overflow: hidden;
}
.submit-login{
	background: #491903;
    width: 399px;
    font-size: 18px;
    line-height: 50px;
    height: 52px;
    text-align: center;
    border: 0;
    color: #fff;
    white-space: pre;
}




