$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

$base-color:  #0dc441;

@font-face {
  font-family: "iconfont";
  src: url("/5lux/images/iconfonts/iconfont.woff") format("woff"), url("/5lux/images/iconfonts/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: "iconfont";
  src: url("/5lux/images/iconfonts/iconfont1.woff") format("woff"), url("/5lux/images/iconfonts/iconfont1.ttf") format("truetype");
}
